{% extends 'questions/base.html' %}


{% block content %}
    <div class="row">
        <div class="col l3 hide-on-med-and-down">
            <p>Favorite Tags</p>
        </div>
        <div class="col l9 m12">
            <ul class="collection">
                <li class="collection-item avatar">
                    <img src="{{ user.profile.image.url }}" alt="" class="circle">
                    <span class="title grey-text">{{ user.username }}</span>
                    <p><a href="{% url 'create' %}">What is your question or link ?</a> </p>
                </li>
            </ul>
            <ul class="collection">
                {% if questions %}
                        {% for question in questions %}
                            <a href="{% url 'question_detail' question.id %}">
                                <li class="collection-item avatar">
                                    <!-- <img src="{{ question.answer_set.first.author.profile.image.url }}" alt="" class="circle"> -->
                                    <div class="title black-text left-align">{{ question.question_text|safe }}</div>
                                    <p>Posted By :- <a href="{% url 'profile' question.author.username %}">{{ question.author.username }}</a></p>
                                    <hr style="color: grey" >
                                    {% if question.answer_set.first %}
                                        <img src="{{ question.answer_set.first.author.profile.image.url }}" alt="" class="circle">
                                        <p class="black-text"><a href="{% url 'profile' question.answer_set.first.author.username %}">{{ question.answer_set.first.author.username }}</a><br>
                                        {{ question.answer_set.first.answer_text|safe }}
                                    {% endif %}
                                    </p>
                                </li>
                            </a>
                        {% endfor %}
                {% else %}
                    <h1>No Questions Available</h1>
                {% endif %}
            </ul>
        </div>
    </div>
    
{% endblock content %}

